PORT=3001
DATABASE_PATH=./data/database.sqlite
SHARED_FILES_DIR=C:/Users/Victor/Desktop/Códigos/Sanpress/Compartilhado
PAYMENT_TERMINAL_MODE=mock
STONE_TERMINAL_IP=192.168.1.100
STONE_TERMINAL_PORT=8080
